.login{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f8f9fa;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 30px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: center;
  border: 1px solid #ddd;
}

.login-card h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.subtitle {
  color: #666;
  margin-bottom: 30px;
}

.input {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
}

.input label {
  margin-bottom: 8px;
  font-weight: 500;
}

.input input {
  width: 100%;
  box-sizing: border-box; 
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f4f6f8;
}

.ojo {
  position: relative;
  display: flex;
  align-items: center;
}

.ojo input {
  width: 100%;
  padding-right: 40px; /* espacio para el icono */
}


.ojo-icono {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #666;
}

.olvide-password {
  text-align: right;
  margin-bottom: 25px;
}

.olvide-password a {
  font-size: 0.85rem;
  color: #003366;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.register-text {
  font-size: 0.9rem;
}

.register-text a {
  color: #dc3545; 
  text-decoration: none;
  font-weight: bold;
}